VEGA_WS_URL="ws://127.0.0.1:8002"
VEGA_WS_LOGIN="root"
VEGA_WS_PASSWORD="123"

S3_ENDPOINT_URL="Fill this out"
S3_BUCKET="Fill this out"
S3_ACCESS_KEY_ID="Fill this out"
S3_SECRET_ACCESS_KEY="Fill this out"
S3_REGION="us-east-1"