DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/vega_app"

VEGA_WS_URL="ws://127.0.0.1:8002"
VEGA_WS_LOGIN="root"
VEGA_WS_PASSWORD="123"

S3_ENDPOINT_URL="http://localhost:9000"
S3_BUCKET="vega-floorplans"
S3_ACCESS_KEY_ID="minioadmin"
S3_SECRET_ACCESS_KEY="minioadmin"
S3_REGION="us-east-1"